/*========= Special Button ==========*/
.btn {
  &-new {
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 4px;
  }
  i {
    &:before {
      padding-right: 0.8rem;
    }
  }
  &-special {
    box-shadow: 0 2px 0 0 $nocnoc-blue-med-dark;
    color: $white !important;
    background-color: $theme-primary;
    @include horizontal-gradient(darken($theme-primary,7%), $chor-muang);
    box-shadow: 0 0.2rem 0 0 $nocnoc-blue-med-dark !important;
    border: 0;
    &:hover, &:active, &:visited {
      background: $nocnoc-blue-med-dark;
      @include horizontal-gradient(darken($nocnoc-blue-med-dark,7%), $nocnoc-blue-med-dark);
      box-shadow: 0 0.2rem 0 0 #202288 !important;
      background-image: -webkit-linear-gradient(left, $nocnoc-blue-med-dark 0%, $nocnoc-blue-med-dark 100%) !important;
    }
    i {
      &:before {
        color: $white;
      }
    }
  }
  &-transparent {
    background: transparent;
    color: $theme-primary !important;
    &:hover, &:active, &:visited {
      background: transparent;
      color: $nocnoc-blue-dark !important;
    }
  }
  &-primary-new {
    background: $thai-tea;
    color: $white !important;
    box-shadow: 0 2px 0 0 $thai-tea-med-dark !important;
    border: 0;
    &:hover, &:active, &:visited {
      background: $thai-tea-med-dark;
      box-shadow: 0 2px 0 0 $thai-tea-dark !important;
    }
    i {
      &:before {
        color: $white;
      }
    }
  }
  &-secondary-new {
    background: $white;
    color: $thai-tea !important;
    border: 0.1rem solid $thai-tea;
    &:hover, &:active, &:visited {
      background: $white;
      color: $thai-tea-dark !important;
      border: 0.1rem solid $thai-tea-dark;
    }
    i {
      &:before {
        color: $thai-tea;
      }
    }
  }
  &-danger {
    background: $look-choup;
    color: $white !important;
    &:hover, &:active, &:visited {
      background: $look-choup;
    }
  }
  &.btn-xs-new {
    font-family: 'sukhumvittadmai-bold';
    padding: 0.8rem;
    font-size: 1.2rem !important;
    line-height: 1.33;
    i {
      &:before {
        font-size: 1.2rem;
        padding-right: 0.5rem;
      }
    }
  }
  &.btn-sm-new {
    font-family: 'sukhumvittadmai-bold';
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem !important;
    line-height: 1.5;
    i {
      &:before {
        font-size: 1.5rem;
      }
    }
  }
  &.btn-lg-new {
    font-family: 'sukhumvittadmai-bold';
    padding: 0.8rem 2.4rem;
    font-size: 1.6rem !important;
    line-height: 1.5;
    i {
      &:before {
        font-size: 1.6rem;
      }
    }
  }
  &.btn-xl-new {
    font-family: 'sukhumvittadmai-bold';
    padding: 1.2rem 2.4rem;
    font-size:  1.6rem !important;
    line-height: 1.5;
    i {
      &:before {
        font-size: 1.8rem;
      }
    }
  }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #3639b4;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}
